
.navbar {
  display: -webkit-inline-box;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

ul {
  padding-inline-start: 65rem;
  margin-block-start: 0;
  margin-block-end: 0;
}


.navbar-brand {
  color: #df9c38;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: cursive;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 5rem;
}

.navbar-brand a:hover {
  color:#db4c36;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.navbar-nav li {
  margin-right: 15px;
  /* padding: 0.3rem; */

}

.navbar-nav a {
  color: #110505;
  text-decoration: none;
  transition: color 0.3s ease;
  align-items: center;
  
}

.navbar-nav a:hover {
  color: #df9c38;
}

.cart-icon {
  font-size: 1.5rem;
  color: white;
  position: relative;
  padding: 0.3rem;
}

.cart-count {
  position: absolute;
  top: -4px;
  right: -8px;
  background-color: #f3845b;
  color: #201a1a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

a.active {
  color: #ff9500;
}
